.App {
  text-align: center;
  justify-content: center;
  min-height: 100%;
}

.outer{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); width: 100%;
}

.inner{
  display: flex;
  align-content: center;
  justify-content: space-around;
}
